.page-wrapper {
  display: flex;
  justify-content: center; /* Horizontally centers the card */
  align-items: center; /* Vertically centers the card */
  /* Takes full screen height */
  /* width: 100%; */
  padding: 20px; /* Prevents card from touching screen edges on mobile */
  box-sizing: border-box;
  /* min-height: 100vh; 
  background-color: #0a0a0a; 
  
  */
}
